<h1>Show page</h1>

  <div>
    <h2><%= @workout.activity %></h2>
    <i><%= @workout.date %></i>
    <p><%= @workout.mood %></p>
    <p><%= @workout.duration %></p>
  </div>

<%= link_to 'Edit', edit_workout_path(@workout), class: 'btn btn-primary' %>
<%= link_to 'Destroy', workout_path(@workout), method: :delete, data: {confirm: 'Are you sure you want to delete this workout?'},class: 'btn btn-danger' %>