<h1>Show page</h1>

  <div>
    <h2><%= @workout.activity %></h2>
    <i><%= @workout.date.strftime("%A, %B %d") %></i>
    <p><%= @workout.mood %></p>
    <p><%= @workout.duration %></p>
  </div>


<h2>Exercises</h2>

  <% @workout.exercises.each do |exercise| %>
      <div>
        <p><%= exercise.name %></p>
        <p><%= exercise.sets %></p>
        <p><%= exercise.reps %></p>
        <p><%= exercise.weight %></p>
        <p><%= exercise.distance %></p>
      </div>
  <% end %>


<h2>Add an Exercise</h2>

<%= simple_form_for([@workout, @workout.exercises.build]) do |f| %>
  <%= f.input :name, input_html: { class: 'form-control' } %>
  <%= f.input :sets, input_html: { class: 'form-control' } %>
  <%= f.input :reps, input_html: { class: 'form-control' } %>
  <%= f.input :weight, input_html: { class: 'form-control' } %>
  <%= f.input :distance, input_html: { class: 'form-control' } %>
  <br />
  <%= f.submit 'Add', class: 'btn btn-primary' %>
<% end %>



<%= link_to 'Edit', edit_workout_path(@workout), class: 'btn btn-primary' %>
<%= link_to 'Destroy', workout_path(@workout), method: :delete, data: {confirm: 'Are you sure you want to delete this workout?'},class: 'btn btn-danger' %>