<!DOCTYPE html>
<html>
<head>
  <title>Workoutlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Viewport meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">

        <div class="navbar-header">
          <%= link_to 'Workout Loggr', root_path, class: 'navbar-brand' %>
        </div>

        <%= link_to new_workout_path, class: 'btn btn-warning btn-sm' do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add a Workout
        <% end %>

      </div>
    </div>
  </div><!-- /.container -->
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= yield %>

    </div>
  </div>
</div>

<div class="footer">
  <div class="container text-center">
    <%= link_to 'about workout loggr', about_path %>
  </div>
</div>

</body>
</html>
